*{
    text-align:center;
    margin:2px;
}
#card{
    
    max-width:200px;
    min-height:350px;
    margin: 0 auto;
}
#dex{
    padding-top:10px;
}
#pokeImg{
    background-color:white;
    border: 2px solid saddlebrown;
}